# Data Munging

## Stats 141B

## Lecture 9

## Prof. Sharpnack

## Lecture slides at http://anson.ucdavis.edu/~jsharpna/141Blectures/

## Lecture repository at https://github.com/jsharpna/141Blectures/

## US College Scorecard data

- national college scorecard dataset: https://collegescorecard.ed.gov/data/ 
- dataset is a large comparison of accredited colleges and universities in the U.S

> The College Scorecard is designed to increase transparency, putting the power in the hands of the public — from those choosing colleges to those improving college quality — to see how well different schools are serving their students.

In [1]:
import pandas as pd
import numpy as np

datadir = "../data/CollegeScorecard"

In [2]:
!ls -la ../data/CollegeScorecard #here are the number of years w data

total 2370008
drwxr-xr-x 2 jsharpna jsharpna      4096 Oct 15 08:02 .
drwxr-xr-x 3 jsharpna jsharpna      4096 Oct 15 08:02 ..
-rw-r--r-- 1 jsharpna jsharpna  33271238 Oct 15 08:02 Crosswalks.zip
-rw-r--r-- 1 jsharpna jsharpna    442127 Oct 15 08:02 data.yaml
-rwx------ 1 jsharpna jsharpna  58599202 Oct 15 08:02 MERGED1996_97_PP.csv
-rwx------ 1 jsharpna jsharpna  62079475 Oct 15 08:02 MERGED1997_98_PP.csv
-rwx------ 1 jsharpna jsharpna  72985266 Oct 15 08:02 MERGED1998_99_PP.csv
-rwx------ 1 jsharpna jsharpna  87268878 Oct 15 08:02 MERGED1999_00_PP.csv
-rwx------ 1 jsharpna jsharpna  99908706 Oct 15 08:02 MERGED2000_01_PP.csv
-rwx------ 1 jsharpna jsharpna 102737387 Oct 15 08:02 MERGED2001_02_PP.csv
-rwx------ 1 jsharpna jsharpna 113939888 Oct 15 08:02 MERGED2002_03_PP.csv
-rwx------ 1 jsharpna jsharpna 115920943 Oct 15 08:02 MERGED2003_04_PP.csv
-rwx------ 1 jsharpna jsharpna 128668572 Oct 15 08:02 MERGED2004_05_PP.csv
-rwx------ 1 jsharpna jsharpna 132889783 Oct 15 08:02 MERGED2005_06_PP.csv
-rwx------ 1 jsharpna jsharpna 131577190 Oct 15 08:02 MERGED2006_07_PP.csv
-rwx------ 1 jsharpna jsharpna 134289466 Oct 15 08:02 MERGED2007_08_PP.csv
-rwx------ 1 jsharpna jsharpna 134184320 Oct 15 08:02 MERGED2008_09_PP.csv
-rwx------ 1 jsharpna jsharpna 139738532 Oct 15 08:02 MERGED2009_10_PP.csv
-rwx------ 1 jsharpna jsharpna 142663863 Oct 15 08:02 MERGED2010_11_PP.csv
-rwx------ 1 jsharpna jsharpna 149332133 Oct 15 08:02 MERGED2011_12_PP.csv
-rwx------ 1 jsharpna jsharpna 151258579 Oct 15 08:02 MERGED2012_13_PP.csv
-rwx------ 1 jsharpna jsharpna 151930807 Oct 15 08:02 MERGED2013_14_PP.csv
-rwx------ 1 jsharpna jsharpna 148476792 Oct 15 08:02 MERGED2014_15_PP.csv
-rwx------ 1 jsharpna jsharpna  72145674 Oct 15 08:02 MERGED2015_16_PP.csv
-rwx------ 1 jsharpna jsharpna  62514654 Oct 15 08:02 MERGED2016_17_PP.csv

### Pandas I/O

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="http://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="http://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

* from https://pandas.pydata.org/pandas-docs/stable/io.html

### Practice munging on a subset of data

- for multiple moderate data files, read in one practice munging
- for a single large CSV, HDF5, SQL database, etc. read it in chunks (later).  
- anticipate curveballs with linux tools

In [3]:
# read in the 2009 data
COL = pd.read_csv(datadir + '/MERGED2009_10_PP.csv')

/home/jsharpna/anaconda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
COL.head() # look at the top 5 rows

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,C150_L4_PELL,D150_L4_PELL,C150_4_LOANNOPELL,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
type(COL) # Pandas is built around DataFrame

pandas.core.frame.DataFrame

In [6]:
COL.dtypes # see the types of columns

UNITID                    int64
OPEID                    object
OPEID6                    int64
INSTNM                   object
CITY                     object
STABBR                   object
ZIP                      object
ACCREDAGENCY            float64
INSTURL                 float64
NPCURL                  float64
SCH_DEG                 float64
HCM2                    float64
MAIN                      int64
NUMBRANCH                 int64
PREDDEG                   int64
HIGHDEG                   int64
CONTROL                   int64
ST_FIPS                   int64
REGION                    int64
LOCALE                  float64
LOCALE2                 float64
LATITUDE                float64
LONGITUDE               float64
CCBASIC                 float64
CCUGPROF                float64
CCSIZSET                float64
HBCU                    float64
PBI                     float64
ANNHI                   float64
TRIBAL                  float64
                         ...
POOLYRSRET_PT           float64
RET_FT4_POOLED_SUPP     float64
RET_FTL4_POOLED_SUPP    float64
RET_PT4_POOLED_SUPP     float64
RET_PTL4_POOLED_SUPP    float64
TRANS_4_POOLED          float64
TRANS_L4_POOLED         float64
DTRANS_4_POOLED         float64
DTRANS_L4_POOLED        float64
TRANS_4_POOLED_SUPP     float64
TRANS_L4_POOLED_SUPP    float64
C100_4_POOLED           float64
C100_L4_POOLED          float64
D100_4_POOLED           float64
D100_L4_POOLED          float64
POOLYRS100              float64
C100_4_POOLED_SUPP      float64
C100_L4_POOLED_SUPP     float64
C150_4_PELL             float64
D150_4_PELL             float64
C150_L4_PELL            float64
D150_L4_PELL            float64
C150_4_LOANNOPELL       float64
D150_4_LOANNOPELL       float64
C150_L4_LOANNOPELL      float64
D150_L4_LOANNOPELL      float64
C150_4_NOLOANNOPELL     float64
D150_4_NOLOANNOPELL     float64
C150_L4_NOLOANNOPELL    float64
D150_L4_NOLOANNOPELL    float64
Length: 1844, dtype: object

In [7]:
# Let's explore the DataFrame
COL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7149 entries, 0 to 7148
Columns: 1844 entries, UNITID to D150_L4_NOLOANNOPELL
dtypes: float64(634), int64(10), object(1200)
memory usage: 100.6+ MB

In [8]:
COL.describe() # some stats

,UNITID,OPEID6,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,...,C150_L4_PELL,D150_L4_PELL,C150_4_LOANNOPELL,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL
count,7.149000e+03,7149.000000,0.0,0.0,0.0,7038.000000,0.0,7149.000000,7149.000000,7149.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,8.797713e+05,14762.266051,NaN,NaN,NaN,1.965331,NaN,0.786264,4.050077,1.870471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.727733e+06,12546.991787,NaN,NaN,NaN,0.886283,NaN,0.409971,11.221270,0.998604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.006540e+05,1002.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.651670e+05,3285.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.154420e+05,10038.000000,NaN,NaN,NaN,2.000000,NaN,1.000000,1.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.193140e+05,23610.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,2.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.497000e+07,41552.000000,NaN,NaN,NaN,3.000000,NaN,1.000000,74.000000,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
COL.columns # DataFrames have columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'C150_L4_PELL', 'D150_L4_PELL', 'C150_4_LOANNOPELL',
       'D150_4_LOANNOPELL', 'C150_L4_LOANNOPELL', 'D150_L4_LOANNOPELL',
       'C150_4_NOLOANNOPELL', 'D150_4_NOLOANNOPELL', 'C150_L4_NOLOANNOPELL',
       'D150_L4_NOLOANNOPELL'],
      dtype='object', length=1844)

In [10]:
COL.index # and row indices

RangeIndex(start=0, stop=7149, step=1)

In [11]:
COL = COL.set_index('UNITID') # set index variable
COL.head()

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,...,C150_L4_PELL,D150_L4_PELL,C150_4_LOANNOPELL,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
enroll = COL['UGDS'] # DataFrame acts like dictionary from column names to columns
type(enroll) # columns are Series

pandas.core.series.Series

In [13]:
enroll.dtypes # the dtype of the series

dtype('float64')

In [14]:
enroll[:6] # Series slices like an array

UNITID
100654     4483.0
100663    10265.0
100690      389.0
100706     5956.0
100724     4638.0
100751    23296.0
Name: UGDS, dtype: float64

In [15]:
enroll[100654] # Series acts like a dictionary from index to value

4483.0

In [16]:
enroll[[100654,100751]] # list indices are keys

UNITID
100654     4483.0
100751    23296.0
Name: UGDS, dtype: float64

In [17]:
enroll.shape

(7149,)

In [18]:
enroll.describe()

count      6596.000000
mean       2500.305488
std        5708.231896
min           0.000000
25%         139.000000
50%         619.000000
75%        2244.000000
max      235028.000000
Name: UGDS, dtype: float64

### Series statistics

- `mean, min, max, std, count`

In [19]:
enroll.mean()

2500.305488174651

In [20]:
enroll.count()

6596

In [21]:
def read_enroll_data(year,datadir):
    """read a CollegeScorecard enrollment"""
    nextyr = str(int(year) + 1)[-2:]
    filename = datadir + '/MERGED{}_{}_PP.csv'.format(year,nextyr)
    col = pd.read_csv(filename,dtype={'UNITID':np.int64,'UGDS':np.float64},usecols=['UNITID','UGDS'])
    col = col.set_index('UNITID')
    return col['UGDS']

In [22]:
ENR_list = [read_enroll_data(year,datadir) for year in range(2000,2010)] # read these years

In [23]:
[len(enr) for enr in ENR_list] # amount of data

[6478, 6619, 6546, 6585, 6660, 6824, 6848, 6890, 6975, 7149]

In [24]:
[enr.count() for enr in ENR_list] # count the number of NAs

[0, 6291, 6247, 6303, 6257, 6341, 6357, 6388, 6476, 6596]

In [25]:
enr_01_02, enr_02_03 = ENR_list[1:3] 
enr_01_03 = enr_01_02 + enr_02_03 # add two Series of different length and NAs

In [26]:
enr_nna = enr_02_03[~enr_02_03.isna()] # common form of boolean indexing
enr_nna2 = enr_02_03.dropna() # does the same

### Series operations

- Comparing elements of series is based on the index not the row number
- `series.add, div, gt, lt, ne`
- Time series index lets you do differencing (diff), rolling window transform (rolling)
- Many other series operations: https://pandas.pydata.org/pandas-docs/version/0.22/api.html#series

### DataFrames

A DataFrame is...
- a dictionary of Series,
- an array (access positions with `.iloc`),
- a dictionary of rows (access rows with `.loc`),
- a time series (if indexing by Datetime) 

Tidy data principle: https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html
- rows = observations
- columns = variables

In [27]:
# Which columns have no NAs
col_dna = COL.dropna(axis=1)
col_dna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7149 entries, 100654 to 44970003
Data columns (total 14 columns):
OPEID        7149 non-null object
OPEID6       7149 non-null int64
INSTNM       7149 non-null object
CITY         7149 non-null object
STABBR       7149 non-null object
ZIP          7149 non-null object
MAIN         7149 non-null int64
NUMBRANCH    7149 non-null int64
PREDDEG      7149 non-null int64
HIGHDEG      7149 non-null int64
CONTROL      7149 non-null int64
ST_FIPS      7149 non-null int64
REGION       7149 non-null int64
ICLEVEL      7149 non-null int64
dtypes: int64(9), object(5)
memory usage: 1.1+ MB

In [28]:
col_dna[['INSTNM','HIGHDEG']].head() # access columns

                                     INSTNM  HIGHDEG
UNITID
100654             Alabama A & M University        4
100663  University of Alabama at Birmingham        4
100690                   Amridge University        4
100706  University of Alabama in Huntsville        4
100724             Alabama State University        4

In [29]:
col_dna.loc[[100654,100830]] # access rows from indices with loc

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ICLEVEL
UNITID,,,,,,,,,,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL,35762,1,1,3,4,1,1,5,1
100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,1,1,3,4,1,1,5,1

In [30]:
## the following should be used only in an emergency!

col_dna.iloc[:10,:5] # access elements like an array with iloc

,OPEID,OPEID6,INSTNM,CITY,STABBR
UNITID,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL
100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL
100690,2503400,25034,Amridge University,Montgomery,AL
100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL
100724,100500,1005,Alabama State University,Montgomery,AL
100751,105100,1051,The University of Alabama,Tuscaloosa,AL
100760,100700,1007,Central Alabama Community College,Alexander City,AL
100812,100800,1008,Athens State University,Athens,AL
100830,831000,8310,Auburn University at Montgomery,Montgomery,AL
100858,100900,1009,Auburn University,Auburn,AL

In [31]:
col_dna.dtypes # access dtypes

OPEID        object
OPEID6        int64
INSTNM       object
CITY         object
STABBR       object
ZIP          object
MAIN          int64
NUMBRANCH     int64
PREDDEG       int64
HIGHDEG       int64
CONTROL       int64
ST_FIPS       int64
REGION        int64
ICLEVEL       int64
dtype: object

In [32]:
col_dna.dtypes.replace(np.dtype('int64'),np.dtype('float64')) # dtypes is a Series!

OPEID         object
OPEID6       float64
INSTNM        object
CITY          object
STABBR        object
ZIP           object
MAIN         float64
NUMBRANCH    float64
PREDDEG      float64
HIGHDEG      float64
CONTROL      float64
ST_FIPS      float64
REGION       float64
ICLEVEL      float64
dtype: object

In [33]:
col_dtypes = dict(col_dna.dtypes.replace(np.dtype('int64'),np.dtype('float64'))) # make the dtypes floats
col_dtypes['UNITID'] = np.dtype('int64') # convert the UNITID back to int
vars_interest = ['ADM_RATE','UGDS','TUITIONFEE_IN','TUITIONFEE_OUT','MN_EARN_WNE_P10'] # Include these vars
col_dtypes.update({a: np.dtype('float64') for a in vars_interest}) # make them floats

In [34]:
## Try reading it with these dtypes
col_try_again = pd.read_csv(datadir + '/MERGED2009_10_PP.csv',
                            dtype=col_dtypes,usecols=col_dtypes.keys())

## ValueError: could not convert string to float: 'PrivacySuppressed'

ValueError: could not convert string to float: 'PrivacySuppressed'

In [35]:
## Try reading it again
col_try_again = pd.read_csv(datadir + '/MERGED2009_10_PP.csv',na_values='PrivacySuppressed',
                            dtype=col_dtypes,usecols=col_dtypes.keys())
col_try_again.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7149 entries, 0 to 7148
Data columns (total 20 columns):
UNITID             7149 non-null int64
OPEID              7149 non-null object
OPEID6             7149 non-null float64
INSTNM             7149 non-null object
CITY               7149 non-null object
STABBR             7149 non-null object
ZIP                7149 non-null object
MAIN               7149 non-null float64
NUMBRANCH          7149 non-null float64
PREDDEG            7149 non-null float64
HIGHDEG            7149 non-null float64
CONTROL            7149 non-null float64
ST_FIPS            7149 non-null float64
REGION             7149 non-null float64
ADM_RATE           2774 non-null float64
UGDS               6596 non-null float64
TUITIONFEE_IN      4263 non-null float64
TUITIONFEE_OUT     4115 non-null float64
MN_EARN_WNE_P10    5486 non-null float64
ICLEVEL            7149 non-null float64
dtypes: float64(14), int64(1), object(5)
memory usage: 1.1+ MB

In [36]:
col_try_again['Year'] = pd.Period('2010',freq='Y') # more discussion about time series in book

In [37]:
col_try_again.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,MAIN,NUMBRANCH,PREDDEG,...,CONTROL,ST_FIPS,REGION,ADM_RATE,UGDS,TUITIONFEE_IN,TUITIONFEE_OUT,MN_EARN_WNE_P10,ICLEVEL,Year
0,100654,00100200,1002.0,Alabama A & M University,Normal,AL,35762,1.0,1.0,3.0,...,1.0,1.0,5.0,0.4726,4483.0,4692.0,8638.0,36600.0,1.0,2010
1,100663,00105200,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,1.0,1.0,3.0,...,1.0,1.0,5.0,0.8357,10265.0,5096.0,11432.0,48500.0,1.0,2010
2,100690,02503400,25034.0,Amridge University,Montgomery,AL,36117-3553,1.0,1.0,3.0,...,2.0,1.0,5.0,0.8750,389.0,8000.0,8000.0,42800.0,1.0,2010
3,100706,00105500,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,1.0,1.0,3.0,...,1.0,1.0,5.0,0.7209,5956.0,6510.0,15628.0,51900.0,1.0,2010
4,100724,00100500,1005.0,Alabama State University,Montgomery,AL,36104-0271,1.0,1.0,3.0,...,1.0,1.0,5.0,0.4625,4638.0,6468.0,12084.0,30700.0,1.0,2010

In [38]:
y = col_try_again['Year'][0]
y.to_timestamp() # convert Period to Timestamp

Timestamp('2010-01-01 00:00:00')

In [39]:
y.start_time # Start time of period - not optimal

Timestamp('2010-01-01 00:00:00')

In [40]:
y.end_time # End time of period - not optimal

Timestamp('2010-12-31 23:59:59.999999999')

In [41]:
## Apply what we learned to all data files

def read_cs_data(year,col_dtypes,datadir):
    """read a CollegeScorecard dataframe"""
    nextyr = str(int(year) + 1)[-2:]
    filename = datadir + '/MERGED{}_{}_PP.csv'.format(year,nextyr)
    col = pd.read_csv(filename,na_values='PrivacySuppressed',
                      dtype=col_dtypes,usecols=col_dtypes.keys())
    col['Year'] = pd.Period(str(int(year) + 1),freq='Y')
    return col

In [42]:
## pd.concat stacks DataFrames (append rows)

col = pd.concat((read_cs_data(str(y),col_dtypes,datadir) for y in range(1996,2017))) # gen exp
col = col.set_index(['UNITID','Year']) # set multi index

In [43]:
col.head()

,,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ADM_RATE,UGDS,TUITIONFEE_IN,TUITIONFEE_OUT,MN_EARN_WNE_P10,ICLEVEL
UNITID,Year,,,,,,,,,,,,,,,,,,,
100636,1997,01230800,12308.0,Community College of the Air Force,Montgomery,AL,36114-3011,1.0,1.0,2.0,2.0,1.0,1.0,0.0,NaN,44141.0,NaN,NaN,NaN,2.0
100654,1997,00100200,1002.0,Alabama A & M University,Normal,AL,35762,1.0,1.0,3.0,4.0,1.0,1.0,5.0,NaN,3852.0,NaN,NaN,NaN,1.0
100663,1997,00105200,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,1.0,2.0,3.0,4.0,1.0,1.0,5.0,NaN,9889.0,NaN,NaN,NaN,1.0
100672,1997,00574900,5749.0,ALABAMA AVIATION AND TECHNICAL COLLEGE,OZARK,AL,36360,1.0,1.0,1.0,2.0,1.0,1.0,5.0,NaN,295.0,NaN,NaN,NaN,2.0
100690,1997,02503400,25034.0,Amridge University,Montgomery,AL,36117-3553,1.0,1.0,3.0,4.0,2.0,1.0,5.0,NaN,60.0,NaN,NaN,NaN,1.0

In [44]:
## Find UC Davis

col_large = col[col['UGDS'] > 1000] # Filter with boolean indexing
davis = col_large.query('CITY=="Davis" and STABBR=="CA"') # .query finds rows satisfying expression
davis = davis.reset_index(level=0) # access index via level

In [45]:
## Plot davis
import matplotlib.pyplot as plt

ax = davis.plot(y='UGDS') # dataframe.plot()!
ax.set_title('UC Davis undergraduate pop.')
ax.set_ylabel('UG Enrollment')
plt.show()